@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

html,
body,
::after,
::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: #00ff66;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

h1 {
  position: absolute;
  top: 7%;
}

.input-container {
  position: absolute;
  top: 15%;
}
/* position: relative; */

.input-container input[type="text"] {
  width: 25rem;
  border: 4px solid #00ff66;
  background-color: black;
  color: #00ff66;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.input-container input[type="text"]:active,
.input-container input[type="text"]:focus {
  border: 4px solid #00ff66;
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

.input-container input[type="text"]::placeholder {
  color: rgba(0, 255, 102, 0.25);
  opacity: 1; /* Firefox */
}

/* Style the input field */
/* .input-container input {
  width: 100%;
} */

/* Style the clear button */
.input-container .clear-btn {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

/* Change button color on hover */
.input-container .clear-btn:hover {
  color: #ccc;
  scale: 101%;
}

.search-result {
  margin: 0 10rem;
  position: absolute;
  top: 35%;
}

.search-result p {
  font-size: 1.25rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 20px; /* Adds spacing between columns */
}

ul li {
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;

  margin: 0 auto 0.5rem;
  cursor: pointer;
  padding: 0.25em 1em;
  /* background: rgb(10, 10, 10); */
  border: 1px solid black;
  position: relative;
  font-size: 1.25rem;
  color: #00ff66;
  border-radius: 5px;
}

ul li:hover {
  border: 1px solid #00ff66;
  background: rgb(25, 25, 25);
}

.instruction {
  position: relative;
  margin: 0 auto;
  border: 2px solid #00ff66;
  width: 100%;
  border-radius: 15px;
  padding: 1rem 2rem;
}

.instruction-header {
  margin-bottom: 1rem;
}

.instruction-body {
  width: 90%;
  margin-bottom: 2rem;
  white-space: pre-line;
}

.instruction-body-partial {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.instruction-body-partial span {
  background: #00ff66;
  color: black;
  width: fit-content;
  padding: 0.2rem 0.5rem 0.1rem;
  border-radius: 0.15rem;
  margin-bottom: 0.2rem;
}
.instruction-body-partial div {
  display: inline-block;
  color: #00ff66;
  background: black;
}

.instruction-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction-footer a {
  font-size: 1rem;
  color: #44aa22;
  letter-spacing: 1px;
}

button.instruction-close {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #00ff66;
  background-color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #00ff66;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
button.instruction-close:hover {
  background-color: #00ff66;
  color: black;
  font-weight: bold;
  border: 1px solid #a7a7a7;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
